/*-- Border & Margin Reset --*/

html {
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/*-- Header Elements --*/

header {
    height: 60px;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 10;
    justify-content: space-between;
}

.logo {
    display: inline-flex;
    padding-left: 24px;
}

.nav {
    float: right;
}

header p {
    margin: 16px 0px;
    font-size: 16px;
}

nav {
    margin: 0;
    justify-content: center;
    padding: 8px 16px;
}

nav, li {
    width: auto;
    list-style-type: none;
    float: right;
    padding: 8px 16px;
}

/*-- Body Elements --*/

body {
    width: 100%;
}


div {
    
}

/*- Div1 -*/

.div1 {
    background-color: rgb(133, 133, 133);
    min-width: 120%;
    overflow: hidden;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 64px;
    width: 10%;
}

.div1 img {
    width: 60%;
}

.div1a {
    display: flex;
    max-width: 60%;
    height: auto;
    padding: 32px 24px;
}

.side-text {
    
}

/*- Div2 -*/


/*- Div3 -*/


/*- Div4 -*/