/* Universal Styles */

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #01161E;
}

body {
  margin: 0;
}
  
main {
  font-family: "Open Sans", sans-serif;
  position:relative;    /* handle fixed menu bar */
  top: 4rem;
  color: #01161E;
}
  
section:nth-child(2n+1) {
  background-color: rgb(187, 187, 187);
}
  
section {
  width: 0100%
}
  
a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  padding-left: 1rem;
  color: #01161E;
  font-size: 1.25rem;
}
  
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.1;
  color: rgb(13, 57, 75);
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 0rem 0;
  color: rgb(13, 57, 75);
}
  
h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: bold;
  color: rgb(13, 57, 75);
}
  
h4 {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
}

h5, footer span {
  font-size: 0.8rem;
  color: #01161E;
}


p {
  line-height: 1.35;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

  /* Header Section */

header {
  background-color: white;
  width: 100%;
  height: 4rem;
  padding-top: 0;
  margin-top: 0;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}

header img {
  height: 4rem;
  padding: 0 1% 0 1.5rem;
  align-self: center;
  }

.logo {
  display: flex;
  padding: 0;
  align-items: center;
}

.title-bar {
  color: #8A97A8;
}

.title-bar span {
  color: rgb(0, 0, 0);
  padding: 0;
}

nav {
  margin-right: 0;
}

nav a {
  padding: 0rem 1rem;
}

/* Banner (div1) */


.side_text {
  display: inline-flex;
  flex-flow: column;
  justify-content: space-between;
  vertical-align: middle;
}

.banner img {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  margin: 2rem 2.5rem 2rem 1.5rem;
  flex-wrap: wrap;
  height: auto;
}

.banner h3 {
  margin: 1.5rem 0;
}

.banner .side-text {
  width: 30%;
  box-sizing: border-box;
}

button {
  background-color: rgb(68, 68, 68);
  border-radius: 1px;
  padding: 1rem;
  transition: background-color 0.12s ease 0s;
}

button h4 {
  color: rgb(241, 241, 239)
}

Button:hover {
  background-color: rgb(114, 114, 114);
  color: black;
}

/* Information Section */

.information {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.info-banner {
  width: 60%;
  padding: 2rem 1.5rem;
}

.info-banner img {
  width: 100%;
}

.information-thumbs {
  display: flex;
  flex-flow: column;
  vertical-align: top;
  width: 35%;
}

.aside {
  padding: 0.5rem;
  height: auto;
  border-left: rgb(212, 212, 212) 1px solid;
  border-bottom: rgb(212, 212, 212) 1px solid;
  display: flex;
}

.aside img {
  width: 35%;
  height: auto;
  display: inline-block;
  padding: 1rem 1rem;
}

.side-text {
  display: flex;
  width: 65%;
  flex-direction: column;
  padding: 1rem;
  line-height: 2rem;
  justify-content: start;
}

.aside a {
padding: 0;
color: blue;
}

.our-campus {
  background-color: rgb(235, 235, 235);
}

.guest-lecture {
  background-color: rgb(212, 212, 212);
}

/*  Start Learning Section */

.start-learning {
  display: flex;
}

.start-learning-title {
  text-align: center;
  padding: 2rem;
}

.courses {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 4.5rem;
}