/*-- Border & Margin Reset --*/

*, html {
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/*-- Header Elements --*/

header {
    height: 64px;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 10;
    justify-content: space-between;
}

.logo {
    display: inline-flex;
    padding-left: 24px;
}

.nav {
    display: inline-flex;
    float: right;
}

header p {
    margin: 16px 0px;
    font-size: 16px;
}

nav {
    margin: 0;
    justify-content: center;
    padding: 8px 16px;
}

nav, li {
    width: auto;
    list-style-type: none;
    float: right;
    padding: 8px 16px;
}

/*-- Body Elements --*/

body {

}


div {
    display: flex;
}

/*- Div1 -*/

.div1 {
    background-color: rgb(133, 133, 133);
    width: 100%;
}

.div1 img {
    min-height: 60%;
    padding: 32px 24px;
}

/*- Div2 -*/


/*- Div3 -*/


/*- Div4 -*/